{% use "form_div_layout.html.twig" %}

{# select #}
{% block choice_widget_collapsed -%}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' mdl-textfield__input')|trim}) %}
        {{- parent() -}}
        {{ form_label(form, null, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
    </div>
{%- endblock %}

{# textarea #}
{% block textarea_widget -%}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' mdl-textfield__input')|trim, rows: '4'|trim}) %}
        {{- parent() -}}
        {{ form_label(form, null, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
    </div>
{%- endblock textarea_widget %}

{# input text/number #}
{%- block form_widget_simple -%}
    {% if type is not defined or 'file' != type %}
        {%- set attr = attr|merge({class: 'mdl-textfield__input'|trim}) -%}
    {% endif %}
    {% if type is not defined or 'file' != type %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            {{- parent() -}}
            {{ form_label(form, null, {'label_attr': {'class': 'mdl-textfield__label'}}) }}
            {% if type is defined and type == 'number' %}
                <span class="mdl-textfield__error">{{ 'crud.Advertisement.error.price'|trans }}</span>
            {% endif %}
        </div>
    {% else %}
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            {{- parent() -}}
        </div>
    {% endif %}


{%- endblock form_widget_simple -%}

{%- block form_widget_compound -%}
    {%- if form.parent is empty -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}


{#Input type number #}
{% block integer_widget %}
    {%- set type = type|default('number') -%}
    {{ block('form_widget_simple') }}
{% endblock %}

{%- block form_row -%}
    {{- form_errors(form) }}
    {{- form_widget(form) }}
{%- endblock form_row -%}

{#Input type hidden#}
{%- block hidden_widget -%}
    {%- set type = type|default('hidden') -%}
    <div class="hidden">
        {{ block('form_widget_simple') }}
    </div>
{%- endblock hidden_widget -%}