{% trans_default_domain 'FOSUserBundle' %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__title">
      <i class="material-icons md-36">lock_open</i>&nbsp;
      <h2 class="mdl-card__title-text">
        {{ 'resetting.request.submit'|trans }}
      </h2>
    </div>
    <form action="{{ path('fos_user_resetting_send_email') }}" class="fos_user_resetting_request" method="POST">
      <div class="mdl-card__supporting-text">
        {% if invalid_username is defined %}
          {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
        {% endif %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label width-100">
          <input class="mdl-textfield__input" id="username" name="username" required="required" type="text"/>
          <label class="mdl-textfield__label" for="username">{{ 'resetting.request.username'|trans }}</label>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border text-right">
        <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
      </div>
    </form>
  </div>
</div>
