
<div id="wi-profile">
    <div id="wi-profile-wrapper">
        <i class="material-icons f40">
            account_circle
        </i>&nbsp;
    </div>

    <div id="wi-profile-display">
        <div id="wi-profile-triangle"></div>
        <div class="demo-card-square mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{ app.user.email }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <i class="material-icons f40">
                    account_circle
                </i>
                {{ app.user.username }} -
                {{ app.user.email }}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="{{ path('fos_user_profile_show') }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                    Profil
                </a>
                <a href="{{ path('fos_user_security_logout') }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect pull-right">
                    Déconnexion
                </a>
            </div>
        </div>
    </div>
</div>



