<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
            <span class="mdl-layout-title">
                Connected
                {{ app.user.username }} -
                {% for role in app.user.roles %}
                    {{ role }}
                {% endfor %}
            </span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
        {{ app.user.username }} -
        {% for role in app.user.roles %}
            {{ role }}
        {% endfor %}
    </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link menu-toggleable" href="#">
            <i class="material-icons">
                settings_applications
            </i>
            Data Management
        </a>
        <ul class="display-none">
            <li><a href="{{ path('category') }}">Category</a></li>
            <li><a href="{{ path('subcategory') }}">Sub category</a></li>
        </ul>
    </nav>
</div>
