<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Project Wolfi{% endblock %}</title>    
    <script src="{{ asset('content/js/jquery-2.1.4.min.js') }}"></script>
    <link href="{{ asset('content/css/material-design/material.min.css') }}" rel="stylesheet">
    <link href="{{ asset('content/css/material-design/material-font.css') }}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="{{ asset('content/css/api/styles.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon"/>
  </head>
  <body class="mdl-color--blue-grey-50">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout__header--waterfall">
      {% include("::shared/_header.html.twig") %}
      <main class="mdl-layout__content ">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>
      </main>
      {% include("::shared/_footer.html.twig") %}
    </div>

    <script src="{{ asset('content/js/material-design/material.min.js') }}"></script>
    <script src="{{ asset('content/js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
