{% form_theme form 'form/fields.html.twig' %}

<div id="form-advertisement">
    {{ form_start(form, {'method': 'POST', 'attr': {'id': 'form_data'}}) }}

    <h5>{{ 'crud.Advertisement.Advert'|trans }}</h5>
    <div class="mdl-grid">
        {{ form_widget(form.title) }}
        {{ form_widget(form.price) }}
        {{ form_widget(form.description) }}
    </div>
    <hr>
    <h5>{{ 'crud.Advertisement.images'|trans }}</h5>
    <div class="mdl-grid">
        {{ form_widget(form.mediaFirst) }}
        {{ form_widget(form.mediaSecond) }}
        {{ form_widget(form.mediaThird) }}
    </div>
    <hr>
    <h5>{{ 'crud.Advertisement.specifications'|trans }}</h5>
    <div class="mdl-grid">
        {{ form_widget(form.ObjectToSell) }}
    </div>

    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>
